## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Conditions
0,0,Ostrovnoy,RU,68.0531,39.5131,32.94,71,7,11.97,clear sky
1,1,Dikson,RU,73.5069,80.5464,28.06,96,100,10.33,light snow
2,2,Albany,US,42.6001,-73.9662,88.92,58,42,1.99,scattered clouds
3,3,Qaqortoq,GL,60.7167,-46.0333,37.87,95,100,16.62,moderate rain
4,4,Hilo,US,19.7297,-155.0900,72.28,88,0,7.00,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Conditions
2,2,Albany,US,42.6001,-73.9662,88.92,58,42,1.99,scattered clouds
8,8,Rikitea,PF,-23.1203,-134.9692,75.96,76,8,13.29,clear sky
9,9,Galveston,US,29.3669,-94.9669,80.56,74,0,16.11,clear sky
11,11,Butaritari,KI,3.0707,172.7902,80.60,83,100,13.53,moderate rain
13,13,Vaini,TO,-21.2000,-175.2000,75.36,88,40,3.44,scattered clouds
16,16,Mahebourg,MU,-20.4081,57.7000,75.49,73,40,10.36,scattered clouds
18,18,Hobyo,SO,5.3505,48.5268,81.45,79,96,26.26,overcast clouds
20,20,Bengkulu,ID,-3.8004,102.2655,77.59,87,99,3.33,moderate rain
21,21,Takoradi,GH,4.8845,-1.7554,76.14,89,100,7.83,overcast clouds
24,24,Lufilufi,WS,-13.8745,-171.5986,82.45,71,70,18.63,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID               697
City                  697
Country               697
Lat                   697
Lng                   697
Max Temp              697
Humidity              697
Cloudiness            697
Wind Speed            697
Current Conditions    697
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cleaned_preferred_cities_df = preferred_cities_df.dropna()

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleaned_preferred_cities_df[["City", "Country", "Max Temp", "Current Conditions", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
2,Albany,US,88.92,scattered clouds,42.6001,-73.9662,
8,Rikitea,PF,75.96,clear sky,-23.1203,-134.9692,
9,Galveston,US,80.56,clear sky,29.3669,-94.9669,
11,Butaritari,KI,80.60,moderate rain,3.0707,172.7902,
13,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
16,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,
18,Hobyo,SO,81.45,overcast clouds,5.3505,48.5268,
20,Bengkulu,ID,77.59,moderate rain,-3.8004,102.2655,
21,Takoradi,GH,76.14,overcast clouds,4.8845,-1.7554,
24,Lufilufi,WS,82.45,broken clouds,-13.8745,-171.5986,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
2,Albany,US,88.92,scattered clouds,42.6001,-73.9662,
8,Rikitea,PF,75.96,clear sky,-23.1203,-134.9692,People ThankYou
9,Galveston,US,80.56,clear sky,29.3669,-94.9669,Crystal Suites
11,Butaritari,KI,80.60,moderate rain,3.0707,172.7902,Isles Sunset Lodge
13,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
16,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
18,Hobyo,SO,81.45,overcast clouds,5.3505,48.5268,Iftin hotel hobyo
20,Bengkulu,ID,77.59,moderate rain,-3.8004,102.2655,Grage Hotel Bengkulu
21,Takoradi,GH,76.14,overcast clouds,4.8845,-1.7554,Raybow International Hotel
24,Lufilufi,WS,82.45,broken clouds,-13.8745,-171.5986,Leuaina Beach Resort and Spa

In [14]:
import numpy as np
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace("", np.nan, inplace = True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
8,Rikitea,PF,75.96,clear sky,-23.1203,-134.9692,People ThankYou
9,Galveston,US,80.56,clear sky,29.3669,-94.9669,Crystal Suites
11,Butaritari,KI,80.60,moderate rain,3.0707,172.7902,Isles Sunset Lodge
13,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
16,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
18,Hobyo,SO,81.45,overcast clouds,5.3505,48.5268,Iftin hotel hobyo
20,Bengkulu,ID,77.59,moderate rain,-3.8004,102.2655,Grage Hotel Bengkulu
21,Takoradi,GH,76.14,overcast clouds,4.8845,-1.7554,Raybow International Hotel
24,Lufilufi,WS,82.45,broken clouds,-13.8745,-171.5986,Leuaina Beach Resort and Spa
25,Namatanai,PG,79.61,broken clouds,-3.6667,152.4333,Seagulls Inn Namatani

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Conditions}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))